<div id="header-region">
  <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
      <li class="name">
        <h1><a href="#">InTime Notes</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">Who we are?</a></li>
        <li class="has-dropdown">
          <a href="#">Account</a>
          <ul class="dropdown">
            <li><a href="#">Login</a></li>
            <li><a href="#">Signup</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Login</a></li>
      </ul>
    </section>
    </nav>
  </div>
</div>

<div id="main-region">
  <div class="hero-container">
        <div class="row">
          <div class="medium-7 large-6 columns">
            <h1>InTime Notes</h1><br>
            <h3>What's so special about words, <br class="hide-for-small">If not said at the right time?</h3>
            <br>
          </div>
        </div>
  </div>
</div>
<div id="footer-region">
  <div class="panel text-center">
    <h6> Delta </h6>
  </div>
</div>
